extends basic_layout.pug 
block head-content
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/css/questionDiv.css")
  link(rel="stylesheet", href="/css/post-page.css")
block header
  nav
    div(class="top-nav")
      a(href="/" class="home-logo")
        img(src="../images/icon.png", alt="B 呼")
      ul(class="home-list")
        li 
          a(href="/") 首页
        li 
          a(href='/') 发现
        li 
          a(href="/") 等你来答
      div(class="search-div")
        label(for="" class="search-label")
          input(type="search", name="search" class="search")
          <svg viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
        input(type="button" value='发帖' class="question")
        script.
          $('.question').on('click',(e)=>{
            let questionDiv = $(`
            <label class="clear-qus">x</label>
            <div id="questionDiv">
              <div class="question-outer">
                <div class="header">
                  <input type="text" id="fileName" placeholder="请输入标题" name="title">
                </div>
                <section>
                  <div class="neirong" contenteditable name="content"></div>
                </section>
                <label for="" class="submit">确认发帖</label>
              <div>
            </div>`)
            $('body').append(questionDiv)
            $('.clear-qus').on('click',(e)=>{
              $('#questionDiv').remove()
              $('.clear-qus').remove()
            })
            $('.submit').on('click',(e)=>{
              let subMsg = {
                title:$('.header input').val(),
                content:$('.neirong').text()
              }
              $.post('/home_Page/',subMsg)
                .then(data=>{
                  console.log(data)
                  location.href = '/'
                })
            })
          })

      ul(class="persen-list")
        li
          <svg  viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
          </svg>
        li  
          <svg  viewBox="0 0 16 16" class="bi bi-chat-square-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        li
          <svg viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
          </svg>

  div(class="post-info")
    div(class="post-top")
      div(class="post-main")
        h1=post.title
        p(class="post-content")=post.content
        div(class="post-footer-list")
          div(class="guanzhu") 关注问题
          div(class="answer") 写回答  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          script.
            $('.answer').on('click',function(e){
              if($('.answer-outer').length){
                $('.answer-outer').remove()
                return
              } 
              let code = $(`
              <div class="answer-outer">
                <textarea class="editing" placeholder="写回答..."></textarea>
                <div class="submit-answer" >
                  <span>提交回答</span>
                </div>
              </div>
              `)
              $('.comment-main').prepend(code)
              $('.editing').focus()
              $('.submit-answer span').on('click',function(e){
                $.post(location.pathname,{
                  content:$('.editing').val(),
                  createdAt:new Date().toString(),
                }).then(url=>{
                  location.href = url
                })
              })
            })
          div(class="admire-qus") 点赞  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
          </svg>
          ul(class="other-info")
            li(class="comments-count") 
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
              </svg>
              span=Object.keys(commenterInfo).length
              span &nbsp;条评论
            li(class="pageview")
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
              span=post.pageview
              span &nbsp;浏览量
            //- li(class="share")
            //-   <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-reply-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            //-     <path d="M9.079 11.9l4.568-3.281a.719.719 0 0 0 0-1.238L9.079 4.1A.716.716 0 0 0 8 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"/>
            //-   </svg>
            //-   a(href="")
            //-     span 分享
                
            li(class="unfold")
              span ...
      div(class="post-other")
        div 
          i(class="post-avatar" style=`background-image:url(${poster.avatar})`)
          div(class="poster-sign")
            span 签名： 
            span #{poster.sign}
          //- img(src=poster.avatar, alt="")
  div(class="body-container")
    div(class="comment-main")
      div(class="invitation")
        ul(class="comments-list")
          if Object.keys(commenterInfo).length == 0
            li(style="color:#8590A6;") 当前帖子还没有回答，赶紧去添加回答吧！
          each com in commenterInfo
            li(class="")
              div(class="commenter-info")
                i(class="commenter-avatar" style=`background-image:url(${com.avatar})`)
                div(class="commenter-flag")
                  a(class="commenter-name")=com.name
                  span(class="commenter-sign")=com.sign
              p=com.content
              div(class="commenter-footer")
    div(class="toolbar")
      div(class="toolbar-user-data")
        if(cookieUser)
          span 欢迎用户  
            a(href="/" class="denglu-user")=cookieUser
            a(href="/login" class="dengchu") 登出
        else
          span 当前处于未登录状态 
            a(href="/login" class="dengchu") 立即登录
